{{define "supported_site"}}Twitter{{end}}
{{define "supported_site_lower"}}twitter{{end}}
{{define "site_name"}}TwitterVideoSave{{end}}
{{define "site_domain"}}TwitterVideoSave.com{{end}}
{{define "site_domain_lower"}}twittervideosave.com{{end}}
{{define "site_host"}}https://twittervideosave.com{{end}}
{{define "contact_email"}}twittervideosave@protonmail.ch{{end}}
{{define "twitter_username"}}VideoTwitte_r{{end}}